#buttons-container {
    margin-top: 2rem;
}

.link-button {
    margin-right: 2rem;
}

.link-button-label {
    color: #000;
    margin-left: 0.4rem;
}

.github-link-button-label {
    margin-left: 0.6rem;
}